* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    background-color: #121212;
    color: #E0E0E0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    background: #121212;
    padding: 20px 0;
    border-bottom: 1px solid #2A2A2A;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #E0E0E0;
    font-weight: 500;
    position: relative;
    transition: 0.25s;
}

nav a:hover {
    color: #C57BFF;
}

nav a:active {
    color: #A75BEA;
    transform: scale(0.97);
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #C57BFF;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

.burger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.25s;
}

.burger span {
    display: block;
    height: 3px;
    background: #E0E0E0;
    border-radius: 3px;
}

.burger:hover {
    transform: scale(1.05);
}

.burger:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.btn,
button {
    background: #C57BFF;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.25s ease;
}

button:hover,
.btn:hover {
    background-color: #A75BEA;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(197, 123, 255, 0.25);
}

button:active,
.btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(167, 91, 234, 0.3);
    opacity: 0.9;
}

.hero {
    height: 90vh;
    background: url('../img/hero.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    color: #fff;
}

.hero-content {
    max-width: 500px;
}

.hero-content h1,
.hero-content p {
    text-shadow: #000 1px 1px 4px;
}

.about {
    padding: 80px 0;
    background: #121212;
}

.about-grid {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about img {
    width: 300px;
    border-radius: 12px;
}

.services {
    padding: 80px 0;
    background: #121212;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 30px;
}

.card {
    padding: 20px;
    background: #1E1E1E;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #2A2A2A;
    color: #E0E0E0;
}

.portfolio {
    padding: 80px 0;
    background: #121212;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.portfolio-grid img {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    object-fit: cover;
    display: block;
}

.contacts {
    padding: 80px 0;
    background: #121212;
}

.contacts-grid {
    display: flex;
    gap: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

form input,
form select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #2A2A2A;
    background: #1E1E1E;
    color: #E0E0E0;
}

form button {
    background: #C57BFF;
}

footer {
    padding: 20px 0;
    text-align: center;
    background: #1E1E1E;
    color: #B3B3B3;
}

.to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #C57BFF;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(197, 123, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 999;
}

.to-top.show {
    opacity: 1;
    visibility: visible;
    bottom: 40px;
}

.to-top:hover {
    background: #A75BEA;
}
@media (max-width: 900px) {
    .about-grid, 
    .contacts-grid {
        flex-direction: column;
    }

    .services-grid {
        grid-template-columns: repeat(2,1fr);
    }

    .portfolio-grid {
        grid-template-columns: repeat(2,1fr);
    }

    .about img {
        width: 100%;
    }
}

@media (max-width: 600px) {
    nav ul {
        display: none;
    }

    .services-grid,
    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .about img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100%;
        background: #121212;
        padding: 100px 20px;
        transition: 0.3s;
        box-shadow: -2px 0 10px rgba(0,0,0,0.4);
    }

    nav.open {
        right: 0;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: 20px;
    }

    .burger {
        display: flex;
    }

    .header-btn {
        display: none;
    }
}
